body {
  background: #333;
  color: #fff;
  font-family: 'Courier Prime', monospace;
}
.display-4 {
  font-family: 'Crimson Text', serif;
 }

.navbar {
  border-bottom: #fff 3px solid;
  opacity: 0.8 !important;
  background: #00CED1;
}
.card-body {
  background: #00CED1;
}

#home-section {
  background: url('../img/nycphoto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px;

}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 900px;
  background: rgba(0,0,0,0.4);
}

#home-section .home-inner {
  padding-top: 150px;;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas {
  color: #fff;
  background: #00CED1;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.8;
}